.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #807ef7;
    height: 5rem;
}
.nav {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo h1 ,.nav a ,.logo i ,.profile i {
    color: #ffffff;
}
.profile {
    margin: 30px;
    cursor: pointer;
}
.profile i {
    font-size: 2rem;
}
#main {
    display: grid;
    grid-template-rows: 10% auto;
    height: 100%;
    overflow: hidden;
}
.content {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
}
.books {
    display: grid;
    grid-template-rows: auto 10%;
    height: 100%;
    overflow: scroll;
}
.btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    margin: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    background: white;
}
.btn #next {
    width: 30%;
    height: 3rem;
    background: #807ef7;
    border: none;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn #next:hover {
    background: #ffffff;
    border: 2px solid #807ef7;
    border-radius: 22px;
    color: #807ef7;
    cursor: pointer;
}

.container-active {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}
.container-active .card {
    width: 100%;
    height: 30rem;
    background: #8a8a8b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 300ms ease;
    cursor: pointer;
}
.container-active .card:hover {
    
}


.container-active {
    display: none; /* hide all containers by default */
}
.container-active.active {
    display: grid; /* show only the active container */
}