body,html {
    overflow: scroll;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #807ef7;
    height: 5rem;
}
.nav {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo h1 ,.nav a ,.logo i ,.profile i {
    color: #ffffff;
}
.profile {
    margin: 30px;
    cursor: pointer;
}
.profile i {
    font-size: 2rem;
}
#main {
    display: grid;
    grid-template-rows: 10% auto;
    height: 100%;
}
.content {
    display: grid;
    grid-template-columns: 25% auto;
}
.books {
    display: grid;
    grid-template-rows: auto 10%;
    height: 100%;
}
.btn #next {
    width: 30%;
    height: 3rem;
    background: #807ef7;
    border: none;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn #next:hover {
    background: #ffffff;
    border: 2px solid #807ef7;
    border-radius: 22px;
    color: #807ef7;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    overflow: scroll;
    margin: 2rem;
}
.cards .card {
    width: 100%;
    height: 19rem;
    background: #8a8a8b;
}