@media screen and (max-width:720px) {
  .content {
    display: grid;
    grid-template-columns: 100%;
  }
  .content .content-img {
    display: none;
  }
  .categories {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .cat {
    padding: 2rem;
  }
  ul {
    overflow: scroll;
    height: 27rem;
  }
}