@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500;700;800;900&family=Lexend+Mega:wght@300;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
}

body,html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    overflow: hidden;
    height: 100vh;
}
main {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}
.main-img{
    background-image: url(/assets/img/93.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px;
    border-radius: 20px; 
}
.main-img:hover {
    transform: scale(10px);
}
.main-content {
    margin: 30px;
    display: grid;
    grid-template-rows: 5% 7% 5% 19% 50% auto;
}
i {
    color: #807ef7;
}
h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.steps {
    height: 3rem;
    display: flex;
    align-items: end;
    gap: 0.5rem;
}
.step-1, .step-2,.step-3 ,.step-4 ,.step-5, .step-6{
    width: 3rem;
    height: 0.7rem;
    background: #807ef7;
    border-radius: 20px;
}
.step-1{
    background: #807ef7;
}
.step-2{
    background: #d6d6d6;
}
.step-3{
    background: #d6d6d6;
}
.step-4{
    background: #d6d6d6;
}
.step-5{
    background: #d6d6d6;
}
.step-6{
    background: #d6d6d6;
}
h3 {
    color: grey;
}
.title {
    display: flex;
    align-items: end;
}
.title h1 {
    font-size: 3.4rem;
    color: rgb(44, 44, 44);
}
.categories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2rem;
    gap: 1rem;
}
.cat-1 ,.cat-2 ,.cat-3 ,.cat-4 {
    background: #243849;
    border: 2px solid #243849;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.cat-1:hover ,.cat-2:hover  ,.cat-3:hover  ,.cat-4:hover  {
    background: #ffffff;
    border: 2px solid #243849;
    color: #243849;
}
.categories i {
    font-size: 4rem;
}
.btn {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#type-1 ,#type-2{
    width: 8rem;
    height: 3rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
#type-1 {
    background: none;
}
#type-2 {
    background: #807ef7;
    color: white;
    border-radius: 15px;
    transition: all 300ms ease;
}
#type-2:hover {
    background: #ffffff;
    color: #807ef7;
    border: 2px solid #807ef7;
    border-radius: 15px;
}