@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500;700;800;900&family=Lexend+Mega:wght@300;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
}

body,html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 22px;
    width: 80%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    color: black;
}
#main {
    display: grid;
    grid-template-rows: 10% auto 15%;
    height: 100%;
}
.logo {
    margin: 30px;
    display: flex;
    align-items: center;
}
.close i {
    font-size: 3rem;
    cursor: pointer;
}
i {
    color: #807ef7;
}
h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.bullets-container {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
}
#next-button ,#prev-button{
    width: 8rem;
    height: 3rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
#prev-button {
    background: none;
}
#next-button {
    background: #807ef7;
    color: white;
    border-radius: 15px;
    transition: all 300ms ease;
}
#next-button:hover {
    background: #ffffff;
    color: #807ef7;
    border: 2px solid #807ef7;
    border-radius: 15px;
}
footer {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: scroll;
}
.content .content-img {
    background-image: url('../img/35.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    border-radius: 22px;
    margin: 30px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #807ef7;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
.conn {
    height: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.conn1 ,.conn2 ,.conn3 {
    font-size: 3rem;
    cursor: pointer;
}
.content-form {
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: center;
}
.content-div {
    display: none;
}

.bullet {
    width: 3rem;
    height: 0.7rem;
    border-radius: 20px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
}
.signin {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.field{
    height: 4rem;
	width: 80%;
	border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.signin h2{
    color: #807ef7;
    font-weight: 900;
}
#content3 {
    width: 100%;
}
.categories {
    height: 30rem;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-top: 2rem;
}
#content3 h2{
    color: #807ef7;
    font-weight: 900;
}
.cat {
    border-radius: 22px;
    gap: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease;
    background: #ffffff;
    border: 3px solid #e4e4f7;
}
.cat:hover {
    background: #e4e4f7;
}

.cat i {
    font-size: 3rem;
}

.name {
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#content4 .btn {
    width: 60%;
}
#content4 a {
    width: 100%;
    height: 3rem;
    background: #807ef7;
    border: none;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content4 a:hover {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    border: 2px solid #807ef7;
    border-radius: 22px;
    color: #807ef7;
    cursor: pointer;
}